
{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Publicado {{ post.publish }} por {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Compartilhar Post
        </a>
    </p>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comentário{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comentário {{ forloop.counter }} por {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>Ainda não há comentários.</p>
  {% endfor %}
    {% if new_comment %}
        <h2>Seu comentário foi adicionado.</h2>
    {% else %}
        <h2>Adicionar um novo comentário</h2>
        <form method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Adicionar Comentário"></p>
        </form>
    {% endif %}
{% endblock %}
