<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block title %}Editar clientes{% endblock %}
</head>
<body>
   {% block content %}
        <h1>Editar cadastro:</h1>
        <form method="POST">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Novo Cadastro
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/novocadastro_pj">Pessoa Juridica</a></li>
                    <li><a class="dropdown-item" href="/novocadastro_pf">Pessoa Fisica</a></li>
                </ul>
                <input type="submit" class="btn btn-success" value="Salvar">
                <button type="button" class="btn btn-danger">Excluir</button>
            </div>
            {% csrf_token %}
            {{form|crispy}}
        </form>
   {% endblock %}
</body>
</html>