<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Lista de Cadastros{% endblock %}
</head>
<body>
    {% block content %}
            <h1>Lista de Cadastros</h1>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Novo Cadastro
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="novocadastro_pj/">Pessoa Juridica</a></li>
                    <li><a class="dropdown-item" href="novocadastro_pf/">Pessoa Fisica</a></li>
                  </ul>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Cidade</th>
                        </tr>
                    </thead>
                {% for clientes in cliente %}
                    <tbody>
                        <tr>
                            <th scope="row">
                                {{clientes.id}}
                            </th>
                            {% if clientes.cpf %}
                            <td><a href="editar_pf/{{clientes.id}}/">{{clientes.nome}}</a></td>
                            {% else %}
                            <td><a href="editar_pj/{{clientes.id}}/">{{clientes.nome}}</a></td>
                            {% endif %}
                            <td>{{clientes.telefone}}</td>
                            <td>{{clientes.endereco}}</td>
                            <td>{{clientes.cidade}}</td>
                        </tr>
                    </tbody>

                {% endfor %}
                </table>
        </div>
    {% endblock %}
</body>
</html>